name: api maven project

on:
  push:
    branches: [ "master" ]
    paths:
      - "api/**"
      - ".github/workflows/api.yml"

  pull_request:
    branches: [ "master" ]
    paths:
      - "api/**"
      - ".github/workflows/api.yml"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file api/pom.xml
